{% import 'icons/macro.html.twig' as icon %}

{% set description = 'Eine Musikplattform, bei der jeder gewinnt: die K&uuml;nstler und Bands erhalten Aufmerksamkeit, die Benutzer k&ouml;nnen Musik kostenlos downloaden. Und die Kirsche auf der Torte: Menschen in Not wirdgeholfen, durch unsere Spenden an &Auml;rzte ohne Grenzen.' %}
{% set title = 'Mitmachen bei keinegrenzen.org — Gute Musik f&uuml;r einen guten Zweck' %}
{% set image = 'https://mitmachen.keinegrenzen.org/images/guitar-player.jpg' %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"
        >

        <meta property="og:title"
              content="{{ title|raw }}"
        >
        <meta property="og:type"
              content="website"
        >
        <meta property="og:description"
              content="{{ description|raw }}"
        >
        <meta property="og:url"
              content="https://festival.keinegrenzen.org"
        >
        <meta property="og:image"
              content="{{ image }}"
        >
        <meta property="og:image:width"
              content="684"
        />
        <meta property="og:image:height"
              content="342"
        />
        <meta property="og:locale"
              content="de_DE"
        />
        <meta property="fb:app_id"
              content="634148010083648"
        />

        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/theme') }}
        {% endblock %}
    </head>
    <body>
        <nav class="container fixed-nav section-wrapper">
            <div class="section section-menu">
                <button type="button"
                        class="menu"
                >
                    <svg class="icon"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 150 150"
                    >
                        <rect class="first cls-1"
                              x="1.17"
                              y="2.6"
                              width="147.66"
                              height="29.15"
                              transform="rotate(-2.03)"
                        ></rect>
                        <rect class="second cls-1"
                              x="1.17"
                              y="59.39"
                              width="147.66"
                              height="29.15"
                              transform="rotate(3.09)"
                        ></rect>
                        <rect class="third cls-1"
                              x="1.17"
                              y="118.25"
                              width="147.66"
                              height="29.15"
                              transform="rotate(1.06)"
                        ></rect>
                    </svg>
                </button>
            </div>
            <div class="section section-contact">
                <a href="tel:+4917630594643"
                   class="phone contact-button"
                >
                    <svg class="icon contact-icon"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 100 100"
                    >
                        <path class="cls-1"
                              d="M44.52,87.56a22.75,22.75,0,0,0,30.61,10l6.68-3.41a5.73,5.73,0,0,0,2.51-7.7L76.47,71a5.72,5.72,0,0,0-7.7-2.5L60.14,72.9a4.87,4.87,0,0,1-6.54-2.12L36.47,37.16h0a4.87,4.87,0,0,1,2.12-6.54l8.63-4.4a5.66,5.66,0,0,0,2.85-3.33,5.72,5.72,0,0,0-.34-4.37L41.88,3.11A5.73,5.73,0,0,0,36.78,0a5.66,5.66,0,0,0-2.6.63L27.5,4A22.46,22.46,0,0,0,17.34,14.41a21.9,21.9,0,0,0-1.15,2.86,22.55,22.55,0,0,0,1.37,17.36Z"
                        ></path>
                    </svg>
                    <span class="text">
                        Anrufen
                    </span>
                </a>
                <a href="mailto:kontakt@keinegrenzen.org"
                   class="mail contact-button"
                >
                    <svg class="icon contact-icon"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 100 100"
                    >
                        <path class="cls-1"
                              d="M7,82.19,21.88,67,34.32,54.23,42.07,62c4.27,4.27,7.83,7.75,7.93,7.75s3.61-3.43,7.81-7.63l7.64-7.64L77.89,67.2,92.63,82.3l2.3,2.36H4.61L7,82.19Zm77.7-16c-8.37-8.57-15.23-15.61-15.25-15.65s6.85-6.95,15.25-15.35L100,19.91V50.84c0,17,0,30.93,0,30.93s-6.9-7-15.27-15.58ZM0,50.64V19.91L15.16,35.07c8.34,8.34,15.15,15.2,15.14,15.24S24,56.75,16.44,64.53,2,79.29,1.31,80L0,81.37V50.64Zm26.67-12L3.41,15.34H96.59L73.32,38.6C60.53,51.39,50,61.86,50,61.86S39.47,51.39,26.68,38.6Z"
                        ></path>
                    </svg>
                    <span class="text">
                        Mailen
                    </span>
                </a>
                <a href="https://wa.me/4917630594643/?text=Hallo%20Barthy!"
                   class="wapp contact-button"
                >
                    <svg class="icon contact-icon"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 100 100"
                    >
                        <path class="cls-1"
                              d="M50,0A50,50,0,0,0,8.83,78.36a2.52,2.52,0,0,1,.31,2.15l-5.08,17L20.7,91.76a2.51,2.51,0,0,1,2.15.27A50,50,0,1,0,50,0ZM29.53,21.8l9.1,15-3.79,3.75a2.5,2.5,0,0,0-.39,3c5.79,10,12.64,17.81,22.23,22a2.52,2.52,0,0,0,2.77-.51l4-4,14.68,9.18A13.84,13.84,0,0,1,72,77.38c-2.81,1.47-6.24,1.75-10.15.94-7.84-1.62-17.3-7.78-25-15.66S23.16,45.18,21.64,37.38c-.76-3.9-.42-7.26,1-9.92a12.65,12.65,0,0,1,6.87-5.66Z"
                        ></path>
                    </svg>
                    <span class="text">
                        Chatten
                    </span>
                </a>
            </div>
        </nav>
        <header class="intro container section-wrapper"
                id="hallo"
        >
            <div class="section">
                <h1>
                    <span class="text">
                        <span class="name fitti">
                            {{- name|raw -}}
                        </span>
                        <br>
                        <span class="claim">
                            kennt<br>keine<br>Grenzen
                        </span>
                    </span>
                </h1>
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 991 976"
                >
                    <defs>
                        <clipPath id="clip-path">
                            <rect class="cls-1"
                                  width="991"
                                  height="976"
                            ></rect>
                        </clipPath>
                    </defs>
                    <g id="header">
                        <g class="cls-2">
                            <rect class="cls-3"
                                  width="991"
                                  height="976"
                            ></rect>
                            <rect class="cls-5"
                                  x="162"
                                  y="821"
                                  width="341"
                                  height="22"
                            ></rect>
                            <rect class="cls-5"
                                  x="696"
                                  y="861"
                                  width="146"
                                  height="22"
                            ></rect>
                            <rect class="cls-5"
                                  x="457"
                                  y="730"
                                  width="265"
                                  height="22"
                            ></rect>
                            <rect class="cls-5"
                                  x="223"
                                  y="760"
                                  width="80"
                                  height="22"
                            ></rect>
                            <polygon class="cls-4"
                                     points="851.87 444.05 844.01 436.2 820.45 459.76 796.89 436.2 789.04 444.05 812.6 467.61 789.04 491.17 796.89 499.02 820.45 475.46 844.01 499.02 851.87 491.17 828.3 467.61 851.87 444.05"
                            ></polygon>
                            <polygon class="cls-5"
                                     points="122.2 632 117.65 627.45 103.99 641.11 90.34 627.45 85.78 632 99.44 645.66 85.78 659.31 90.34 663.86 103.99 650.21 117.65 663.86 122.2 659.31 108.54 645.66 122.2 632"
                            ></polygon>
                            <polygon class="cls-5"
                                     points="172.59 632.8 168.03 628.25 154.38 641.91 140.72 628.25 136.17 632.8 149.83 646.46 136.17 660.11 140.72 664.66 154.38 651.01 168.03 664.66 172.59 660.11 158.93 646.46 172.59 632.8"
                            ></polygon>
                            <polygon class="cls-5"
                                     points="222.97 633.6 218.42 629.05 204.76 642.71 191.11 629.05 186.56 633.6 200.21 647.26 186.56 660.91 191.11 665.46 204.76 651.81 218.42 665.46 222.97 660.91 209.32 647.26 222.97 633.6"
                            ></polygon>
                            <path class="cls-6"
                                  d="M1046.35,1014.06c-9.45-7.57-18.83-15.29-28.59-22.4-5.13-3.73-11.43-7.28-13.56-14-2.39-7.5,1.76-15.29,6.45-20.63,8.21-9.33,16.48-18.48,24.65-27.88,2.92-3.36,6-7.47,5.24-12-.7-3.85-4-6.38-7.13-8.5-6.29-4.32-12.56-8.67-18.86-13-4.79-3.25-9.41-7.29-10.95-13.44a19.86,19.86,0,0,1,.5-10.67c4.67-14.73,20.69-22,31.12-31.22,5.44-4.81,15.26-10.94,15.4-19.49.09-5.24-4-9.32-7.91-12.54-8.53-7.09-17.52-13.44-26.34-20.1-6-4.55-13.41-10.69-9.82-19.56,2.75-6.81,7.81-11.91,12.82-16.83,5.61-5.51,11.18-11.1,16.77-16.65,4.18-4.15,11.85-9.53,11.94-16.34s-7.13-12.83-11.64-16.68c-5.32-4.55-11.13-8.38-16.74-12.5-5.81-4.26-14.87-11-13.67-19.76a13.22,13.22,0,0,1,2.81-6.16c11.41-15.14,59.08-29.32,40.41-56.28-6.24-9-19-13.82-27.87-19.26-5.45-3.35-11.27-8.09-12.78-15s1-14.32,4.7-20.06c9.17-14.3,25.27-21.37,34.2-36.07,2.17-3.58,3.41-8.21,1.83-12.12-2.34-5.82-10.66-8.07-15.55-10.53a179.42,179.42,0,0,1-19.34-10.88c-6.72-4.5-11.34-11.3-9.27-20.12,1.93-8.26,7.23-15.84,13.13-21.38,10.14-9.54,22.85-15.71,32.6-25.61a15.34,15.34,0,0,0,3.49-5c1.88-4.76-.75-8.24-4.56-10.39-11.55-6.53-23.26-12.79-34.74-19.42-8-4.65-15.23-11.53-11.66-22.2,3-8.89,10.64-15.46,17.15-21.36,7.23-6.54,14.68-13.13,22.12-19.29,4.76-3.94,11.11-10.1,10.91-17.24-.21-7.54-6.43-9.29-11.2-12.69-10.89-7.77-36.72-15.78-35.87-33.47.53-11.1,7.07-19.91,14.75-26.73,8.11-7.22,16.28-14.11,23.74-22.07,6.23-6.65,10.59-16.68,4.08-24.7-4.52-5.57-12.35-8.54-18.48-11.61-7.14-3.58-14.38-7.07-20.8-12-11.37-8.78-4.61-24.6,2.68-34,5.43-7,12.21-12.65,18.83-18.28,4.79-4.08,10.15-9.09,11.6-15.77,1.55-7.16-4.18-11.91-8.41-16.37q-7.2-7.62-15.08-14.45c-5.1-4.43-10.65-8.95-13-15.55-2.78-7.91-.09-17,4.53-23.87,7.75-11.53,19.33-20.6,30.23-28.4M970,1025.92c8.81-10,17.92-19.61,26.38-30,6.08-7.43,17-17.58,11-28.51-3.33-6.07-10.18-9.27-16-11.85-7.3-3.24-19.27-7-22.35-15.86-2-5.61,1.53-11.63,5.12-16.23a208,208,0,0,1,21.37-22.71c5.84-5.51,14.4-12.56,14-21.89-.24-5.24-3.51-9.82-7.34-13.09-7-6-15.22-10.35-22.35-16.25-5.2-4.31-13.09-10.78-12.24-18.79.42-3.85,2.95-7,5.43-9.82,6.66-7.58,14-14.3,21.07-21.35,6.13-6.07,13.24-11.83,17.58-19.61,12.92-23.13-26-32.86-39-39.28a23.25,23.25,0,0,1-6.61-4.24,9,9,0,0,1-2.77-7.4c.43-2.84,2.54-5,4.54-6.9,11.21-10.77,22.78-21.11,33.66-32.26,6.61-6.76,16.26-18.17,7.38-27.69-7.36-7.88-19-10.43-28.31-14.6-7.15-3.19-17.36-7.95-18.22-17.45-.41-4.59,1.8-9.05,4.71-12.45,8.49-9.92,19.88-17.92,29.59-26.41,6-5.29,18-13,18.52-22.43.21-3.86-2.06-7.48-5-9.72-6.35-4.83-15.37-6.55-22.46-10.1-7.24-3.63-14.19-8.35-18.93-15.4a13.35,13.35,0,0,1-2.53-6.43c-.54-8.1,8-14.62,12.58-19.79a268.35,268.35,0,0,1,19-19.46c6.24-5.74,15.19-12.29,14.38-22.34-.46-5.67-4.54-10.26-9-13.42-6.53-4.69-13.36-9.27-20.18-13.45-6.36-3.89-15.9-8.35-17.25-17.08-.85-5.52,2.13-10.86,5.41-15.22C979.38,395.64,990,387.72,1000,379c5.56-4.88,13.34-10.6,13.83-19.08a17.18,17.18,0,0,0-3.39-10.49c-6.31-9.18-17.32-13.71-26.4-19-6.81-3.93-18-8.86-17.13-19a16.67,16.67,0,0,1,2.7-7.16c7-11.32,18.55-18.24,28.21-26.5,6.81-5.83,17-14.58,13.91-25.33-1.21-4.29-4.54-7.5-8-10a210.64,210.64,0,0,1-19.86-15.68c-6.92-6.28-15.74-13.11-15.63-23.9.06-6.2,3.43-11.85,7.42-16.34,10.72-12,22.71-22.48,31.72-36.26a16.78,16.78,0,0,0,3.11-7.44c.68-7.35-10.17-11.78-14.87-15-6.87-4.7-13.72-9.55-19.64-15.59-7.29-7.45-10.88-17-6.83-27.48,6.52-16.85,23.43-27.86,35.64-39.6,2.78-2.67,8.29-7.21,7.7-11.8-.28-2.15-2-3.72-3.53-5.1-5.11-4.46-10.23-8.91-15.24-13.5q-10-9.15-19.81-18.56m-94.9,141.64,16.77-21.33c4.9-6.23,11.44-12.42,14-20.23,5.74-17.51-12.8-26.45-21.81-36.93-5.52-6.44-9.89-14.74-9.83-23.71,0-7.77,3.3-15.26,8-21.19S896.83,4,903.13.17M891.84,188.23c5.43-3.5,11.69-5.12,17.69-7.29,8-2.88,13.64-7.64,19.74-13.66s10.59-14.21,10.17-22.94c-.34-6.9-3.79-13.28-8.29-18.22-6.82-7.46-17.41-10.85-23.3-19.09s-4.67-20.73.47-29.71c7.26-12.67,20.81-18.26,28.41-30.46,4.62-7.43,4.44-16.84,2.54-25.27-1.94-8.63-5-18.71-9-26.45m-6,448.36c2.06-5.43,2.07-11.42,1.44-17.06a131.34,131.34,0,0,1-.34-18.4c.24-8.43,1-17.51,5.47-24.74,4.6-7.48,11.29-13.19,16.56-20.09,7.56-9.9,15.87-19.11,24-28.51,2.65-3.07,5.36-6.25,6.71-10.18,2-5.69.71-12.2-2-17.49-5.67-10.9-15.64-15.27-23.35-23.84a20.81,20.81,0,0,1-5.34-10.47c-2.48-15.81,14-28.92,22.69-39.05,7-8.21,9-19.44,3-28.89-5.92-9.22-15.16-15.06-22.8-22.41-6.57-6.31-13.65-11.93-17.4-20.74-1.62-3.79-2.56-8.07-1.74-12.14s3.46-7.74,6.34-10.74c11.06-11.55,30.29-18,37-33.84,2.74-6.46,1-14.29-2.84-20.09-5.8-8.86-15.56-15-23.69-21.15-11.26-8.48-19-19.5-15-34.95,2.22-8.54,7.46-15.9,13.66-21.76S959.89-3.42,967-7.9M940.45,1004.31c6.74-10.82,13.62-21.66,20.49-32.47,5.82-9.17,14.16-23,11.79-34.55-2.33-11.39-11.67-16.81-18.07-25.31-6.72-8.92-8.17-20.11-2.95-30.31,5.72-11.16,15.6-18.84,22.82-28.73,7.89-10.82,3.72-21.79-5.88-29.52S946,814,936.38,806c-5.46-4.53-10-12.26-8-19.88,1.06-4,3.4-7.44,5.86-10.65,9.32-12.14,21-21.41,31.91-31.81,5.44-5.22,11.31-11.36,11.47-19.19s-5.74-14.52-12.2-18.32c-10.35-6.09-33.85-10.86-29.36-28.89,1.31-5.28,5-9.51,9.08-12.81,8.57-7,23.41-13.32,22.19-27.32a19.22,19.22,0,0,0-3.46-8.9c-5.87-8.76-15.23-13.72-22.13-21.39s-13.25-16.66-14-27.87M912,827.35c4.55-4.9,8.8-10.11,12.91-15.45,3.65-4.75,8-9.4,10.53-15,8.1-17.65-5.66-30-16.78-40.23-4.36-4-8.49-8.7-10.26-14.57-2.56-8.51.38-18,5.26-25.25,6.57-9.79,16-17.06,23.94-25.48,3.53-3.75,6.4-8.76,6-14.07a15.26,15.26,0,0,0-3.3-8.18c-4.09-5.25-10.65-7.65-17-8.09s-12.72.83-19,1.7"
                            ></path>
                            <path class="cls-6"
                                  d="M-49.6,1.16C-40.42,8.51-31.31,16-21.83,22.91c5,3.62,11.1,7.07,13.17,13.59,2.32,7.28-1.71,14.84-6.27,20-8,9.06-16,18-23.94,27.08-2.83,3.26-5.87,7.25-5.08,11.62.68,3.74,3.93,6.2,6.92,8.26,6.11,4.19,12.19,8.42,18.32,12.58,4.64,3.16,9.13,7.08,10.63,13.05a19.22,19.22,0,0,1-.49,10.36c-4.53,14.31-20.09,21.39-30.21,30.33-5.29,4.66-14.83,10.62-15,18.92-.08,5.09,3.93,9.06,7.69,12.18,8.28,6.89,17,13.05,25.58,19.52,5.83,4.42,13,10.38,9.54,19C-13.62,246-18.53,251-23.39,255.77c-5.46,5.35-10.86,10.77-16.29,16.16-4.06,4-11.51,9.26-11.6,15.87S-44.35,300.26-40,304c5.17,4.42,10.81,8.14,16.26,12.14,5.63,4.14,14.43,10.69,13.27,19.19a12.89,12.89,0,0,1-2.73,6C-24.25,356-70.55,369.78-52.41,396c6.06,8.75,18.48,13.43,27.07,18.71,5.29,3.25,10.93,7.86,12.41,14.55s-1,13.91-4.57,19.49c-8.91,13.88-24.54,20.74-33.21,35-2.11,3.48-3.32,8-1.78,11.78,2.27,5.64,10.36,7.83,15.1,10.22A173.37,173.37,0,0,1-18.61,516.3c6.53,4.37,11,11,9,19.54-1.88,8-7,15.38-12.75,20.76-9.85,9.27-22.2,15.26-31.66,24.88a14.82,14.82,0,0,0-3.4,4.86c-1.82,4.61.74,8,4.43,10.08,11.22,6.34,22.59,12.42,33.74,18.87,7.81,4.51,14.79,11.19,11.32,21.55-2.89,8.64-10.33,15-16.65,20.74-7,6.36-14.25,12.76-21.48,18.74-4.63,3.83-10.8,9.8-10.6,16.74.21,7.33,6.25,9,10.88,12.32,10.58,7.55,35.66,15.32,34.84,32.51-.52,10.78-6.88,19.33-14.33,26-7.88,7-15.81,13.7-23.06,21.43-6,6.45-10.28,16.19-4,24,4.39,5.4,12,8.29,18,11.27,6.94,3.47,14,6.87,20.2,11.68,11,8.53,4.47,23.89-2.6,33C-22,872-28.59,877.51-35,883c-4.65,4-9.86,8.82-11.26,15.3-1.51,7,4.06,11.57,8.16,15.91q7,7.39,14.64,14c5,4.3,10.35,8.7,12.6,15.1,2.69,7.68.08,16.51-4.4,23.18-7.53,11.2-18.78,20-29.36,27.58M24.56-10.36C16-.69,7.16,8.69-1,18.73-7,25.94-17.62,35.8-11.79,46.41c3.23,5.9,9.89,9,15.53,11.51,7.08,3.15,18.71,6.82,21.7,15.4,1.9,5.45-1.48,11.3-5,15.76a201.64,201.64,0,0,1-20.75,22c-5.67,5.36-14,12.2-13.57,21.26.23,5.1,3.41,9.54,7.13,12.72,6.81,5.83,14.79,10,21.7,15.78,5.05,4.19,12.72,10.46,11.89,18.25-.4,3.74-2.86,6.8-5.27,9.53C15.13,196,8.05,202.56,1.14,209.4c-6,5.9-12.86,11.49-17.08,19C-28.48,250.92,9.26,260.36,22,266.6a22.83,22.83,0,0,1,6.42,4.11,8.74,8.74,0,0,1,2.69,7.19c-.42,2.76-2.47,4.84-4.41,6.7C15.76,295.06,4.53,305.1-6,315.93c-6.42,6.57-15.79,17.65-7.16,26.89C-6.06,350.47,5.24,353,14.29,357,21.23,360.1,31.15,364.72,32,374c.4,4.46-1.74,8.79-4.57,12.09-8.25,9.63-19.31,17.4-28.74,25.65-5.87,5.13-17.48,12.63-18,21.78-.21,3.75,2,7.26,4.85,9.43,6.17,4.7,14.93,6.37,21.81,9.82,7,3.52,13.79,8.1,18.39,14.95a13.14,13.14,0,0,1,2.45,6.25c.53,7.86-7.76,14.19-12.22,19.21A259,259,0,0,1-2.46,512c-6.06,5.57-14.75,11.94-14,21.69.45,5.51,4.41,10,8.69,13,6.34,4.56,13,9,19.6,13.06,6.17,3.78,15.44,8.11,16.75,16.58.82,5.37-2.07,10.55-5.26,14.79-7.92,10.54-18.2,18.23-27.89,26.71-5.41,4.74-13,10.29-13.43,18.53a16.62,16.62,0,0,0,3.29,10.19C-8.54,655.53,2.15,659.93,11,665c6.6,3.82,17.45,8.61,16.63,18.49a16.18,16.18,0,0,1-2.62,7c-6.75,11-18,17.71-27.4,25.74-6.61,5.65-16.46,14.15-13.51,24.59,1.18,4.17,4.41,7.28,7.79,9.69a206,206,0,0,1,19.29,15.23c6.72,6.09,15.28,12.73,15.18,23.21-.06,6-3.33,11.51-7.21,15.87-10.41,11.7-22,21.83-30.8,35.21a16.37,16.37,0,0,0-3,7.23c-.66,7.14,9.88,11.43,14.45,14.56,6.67,4.57,13.32,9.27,19.07,15.14,7.08,7.24,10.57,16.54,6.64,26.69C19.11,920,2.69,930.68-9.17,942.08c-2.7,2.59-8,7-7.48,11.45.27,2.09,1.91,3.62,3.43,5,5,4.34,9.94,8.66,14.8,13.12q9.72,8.88,19.24,18M113,852.07,96.7,872.79c-4.76,6.05-11.11,12.06-13.6,19.64-5.58,17,12.43,25.68,21.18,35.87,5.36,6.25,9.6,14.31,9.55,23,0,7.55-3.21,14.82-7.77,20.57S95.61,982,89.49,985.78m33.2-252.49c-4.59,5.39-6.06,13.05-6.31,20.34s.51,14.64-.42,21.86c-1.4,10.78-6.65,22-15.51,27.66-5.27,3.39-11.35,5-17.18,7.08C75.53,813,70,817.65,64.11,823.49s-10.3,13.8-9.88,22.28c.33,6.7,3.67,12.9,8.05,17.69C68.9,870.71,79.18,874,84.91,882s4.53,20.13-.47,28.85c-7,12.31-20.2,17.74-27.58,29.59-4.49,7.21-4.31,16.35-2.47,24.54,1.89,8.37,4.84,18.16,8.78,25.68m86.6-606.15c-8.35,4.2-13.73,13.07-17.81,21.94s-7.42,18.34-13.54,25.73c-2.81,3.38-6.17,6.29-8.36,10.15-2.72,4.8-3.38,10.64-3.18,16.24s1.19,11.15,1.48,16.75c.85,16-4.13,31.71-12,45.15C92.52,527,88,533.71,82.63,538.93c-5.1,5-10.93,9.17-13.64,16.31-2,5.27-2,11.09-1.39,16.58a126.66,126.66,0,0,1,.33,17.86c-.24,8.18-1,17-5.32,24-4.46,7.26-11,12.81-16.07,19.51-7.35,9.61-15.42,18.55-23.29,27.68-2.57,3-5.21,6.08-6.52,9.89-1.9,5.53-.69,11.85,2,17,5.5,10.58,15.19,14.83,22.68,23.14a20.14,20.14,0,0,1,5.18,10.17C49,736.45,33,749.18,24.54,759c-6.81,8-8.77,18.88-2.86,28.06,5.75,8.95,14.71,14.62,22.14,21.76C50.2,815,57.07,820.42,60.72,829c1.56,3.68,2.48,7.83,1.68,11.79S59,848.28,56.25,851.2c-10.75,11.22-29.42,17.5-35.94,32.86-2.67,6.27-.93,13.88,2.76,19.51,5.62,8.6,15.1,14.6,23,20.54,10.94,8.23,18.46,18.94,14.56,33.94-2.15,8.29-7.23,15.44-13.26,21.13s-13,10.09-19.92,14.44m25.81-983C46.7,21.14,40,31.66,33.35,42.16c-5.66,8.9-13.76,22.3-11.46,33.55C24.16,86.77,33.23,92,39.45,100.29c6.53,8.66,7.93,19.53,2.86,29.43-5.55,10.84-15.15,18.3-22.16,27.91-7.67,10.51-3.61,21.16,5.71,28.67s22,9.13,31.34,16.89c5.3,4.4,9.71,11.9,7.74,19.3-1,3.87-3.3,7.22-5.69,10.34-9.06,11.79-20.44,20.79-31,30.9-5.29,5.06-11,11-11.14,18.62S22.7,296.46,29,300.15C39,306.07,61.84,310.7,57.48,328.21c-1.28,5.12-4.87,9.23-8.82,12.44-8.32,6.76-22.73,12.93-21.55,26.53a18.79,18.79,0,0,0,3.36,8.64c5.7,8.5,14.79,13.33,21.5,20.77s12.87,16.18,13.61,27.06m87.5-370.5c-10.62,10.3-25.08,24-28.72,39.43-2.28,9.67.18,19.78,1.06,29.7.92,10.32-.13,21.51-6.17,29.62-5,6.68-12.45,10.21-19.24,14.27-7.18,4.29-13.37,10.07-19.15,16.3-4.42,4.77-8.55,9.83-12.54,15-3.54,4.61-7.75,9.13-10.22,14.53-7.88,17.14,5.48,29.12,16.29,39.07,4.23,3.9,8.25,8.45,10,14.14,2.49,8.27-.37,17.47-5.1,24.53-6.38,9.51-15.54,16.56-23.25,24.74-3.43,3.64-6.22,8.51-5.84,13.67a14.87,14.87,0,0,0,3.2,7.94c4,5.1,10.35,7.43,16.53,7.85s12.35-.8,18.5-1.64c11.35-1.56,25.79-1.42,28.11,13.48"
                            ></path>
                        </g>
                    </g>
                </svg>
            </div>
        </header>
        <div class="slogan container">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1920 688"
            >
                <title>Gute Musik f&uuml;r einen guten Zweck</title>
                <g id="gute_musik_guter_zweck">
                    <g id="bg_top">
                        <polygon class="cls-1"
                                 points="1720 363.61 1720 365 1720 365 1720 365 1920 365 1920 0 1353 0 1353 363.97 1720 363.61"
                        ></polygon>
                        <polygon class="cls-2"
                                 points="688.6 365 1353 364.34 1353 0 0 0 0 365 688.09 365 688.6 365"
                        ></polygon>
                    </g>
                    <text class="cls-3"
                          transform="translate(393.95 409.23) rotate(-9)"
                    >
                        <tspan class="cls-4">GUTE</tspan>
                        <tspan class="cls-5"
                               x="335.89"
                               y="0"
                        >
                            &nbsp;MUSIK
                        </tspan>
                    </text>
                    <g id="bg_bottom_right">
                        <polygon class="cls-2"
                                 points="1713 354 1713 688 1920 688 1920 354 1713 354 1713 354"
                        ></polygon>
                        <polygon class="cls-6"
                                 points="1720 354 1350.8 355 1350.8 355 681.75 355 681 355 681 688 1720 688 1720 355 1720 354"
                        ></polygon>
                    </g>
                    <text class="cls-3"
                          transform="translate(593.95 739.23) rotate(-9)"
                    >
                        <tspan class="cls-4">GUTEN</tspan>
                        <tspan class="cls-7"
                               x="472.59"
                               y="0"
                        >
                            ZWECK
                        </tspan>
                    </text>
                    <polygon id="bg_bottom_left"
                             class="cls-1"
                             points="688 688 688 354 688 354 0 354 0 688 688 688"
                    ></polygon>
                    <g id="stars">
                        <polygon class="cls-1"
                                 points="755.63 94.93 752.26 88.18 744.94 92.95 744.59 87.13 744.38 83.59 736.96 84.77 737.85 88.2 739.31 93.84 730.88 91.57 729.77 99.03 738.58 99.53 733.37 107.71 740.08 111.11 743.55 102.36 749.55 109.61 754.88 104.3 747.41 98.14 755.63 94.93"
                        ></polygon>
                        <polygon class="cls-1"
                                 points="793.25 88.97 789.89 82.22 782.57 86.99 782.22 81.17 782 77.63 774.58 78.81 775.47 82.24 776.94 87.88 768.51 85.61 767.39 93.07 776.2 93.58 771 101.75 777.7 105.15 781.17 96.4 787.18 103.65 792.5 98.34 785.03 92.18 793.25 88.97"
                        ></polygon>
                        <polygon class="cls-1"
                                 points="830.88 83.01 827.51 76.26 820.19 81.03 819.84 75.21 819.63 71.67 812.21 72.85 813.1 76.28 814.56 81.92 806.13 79.65 805.02 87.11 813.82 87.62 808.62 95.79 815.33 99.19 818.8 90.44 824.8 97.69 830.13 92.38 822.66 86.22 830.88 83.01"
                        ></polygon>
                    </g>
                    <polygon id="dash"
                             class="cls-2"
                             points="545.63 468.18 688 445.63 688.26 423.64 542.24 446.77 545.63 468.18"
                    ></polygon>
                    <path id="smiley"
                          class="cls-2"
                          d="M1561.48,398.32A47.82,47.82,0,1,0,1619,433.89a47.86,47.86,0,0,0-57.53-35.57m1.11,4.71a43,43,0,1,1-32,51.7,42.95,42.95,0,0,1,32-51.7M1545,440.63a4.84,4.84,0,1,0,5.82,3.6,4.87,4.87,0,0,0-5.82-3.6m47.72-11.26a4.84,4.84,0,1,0,5.83,3.6,4.88,4.88,0,0,0-5.83-3.6m3.94,17.68a2.43,2.43,0,0,0-1.85,1.94c-1.47,7.66-6,13.47-17.59,16.19s-18.94-.48-22.86-6.48a2.43,2.43,0,0,0-4.07,2.64v0c5.09,7.77,15.15,11.57,28,8.53s19.47-10.77,21.24-20a2.43,2.43,0,0,0-1.88-2.87,2.55,2.55,0,0,0-1,0"
                    ></path>
                    <g id="G">
                        <polygon class="cls-5"
                                 points="620.36 640.77 624.22 665.13 634.79 663.45 638.52 687 640.55 687 636.46 661.16 625.88 662.84 622.65 642.43 657.81 636.87 665.75 687 667.77 687 659.47 634.58 620.36 640.77"
                        ></polygon>
                        <path class="cls-5"
                              d="M580.31,593.2a48.28,48.28,0,0,1,1.33-19.74,32.83,32.83,0,0,1,7.94-14.73c4.57-4.71,11.18-7.87,19.12-9.13a42.41,42.41,0,0,1,6.52-.53,30,30,0,0,1,14.24,3.35A33.93,33.93,0,0,1,641.82,564a48.23,48.23,0,0,1,7.34,18.31l4.25,26.81L628.82,613l-4.24-26.8c-.84-5.28-2.5-8.68-5.64-11.42a8.7,8.7,0,0,0-6.46-1.29c-4.23.67-7,3.77-7.65,8.67a19.84,19.84,0,0,0,.07,7.16L620.37,687h2l-15.53-98a18.2,18.2,0,0,1-.07-6.49c.41-2.85,1.78-6.38,6-7a6.75,6.75,0,0,1,4.91.87c2.68,2.35,4.14,5.39,4.9,10.17l4.56,28.78,28.54-4.52-4.57-28.81a50.35,50.35,0,0,0-7.65-19.09,36,36,0,0,0-13.08-12.18c-6.28-3.32-13.69-4.34-22-3s-15.37,4.68-20.25,9.71a34.81,34.81,0,0,0-8.43,15.57,50.5,50.5,0,0,0-1.38,20.57L593.15,687h2Z"
                        ></path>
                    </g>
                    <text class="cls-8"
                          transform="translate(729.97 486.32) rotate(-9)"
                    >
                        F&Uuml;R EINEN
                    </text>
                </g>
            </svg>
        </div>
        <div class="guitar-player container">
            <img src="{{ asset('/images/guitar-player.jpg') }}"
                 title="Gitarrist"
                 alt="Gitarrist Live auf der B&uuml;hne"
            >
        </div>
        <section class="project-description container"
                 id="worum-geht-es"
        >
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1981 834"
            >
                <title>Wie w&auml;re das</title>
                <g id="wie_waere_das">
                    <polygon id="red"
                             class="cls-1"
                             points="559 0 559 834 1981 834 1981 0 1981 0 559 0"
                    ></polygon>
                    <g id="double_right">
                        <path class="cls-2"
                              d="M559.29,559.58c-.41-.54-.85-1.07-1.29-1.58v37.67l13.59-3.5C569.91,581.54,566.35,569.09,559.29,559.58Z"
                        ></path>
                        <path class="cls-2"
                              d="M584.05,724.06c4.55-9.75,4.74-22,2.73-34.71-1.64-10.37-6.55-19.69-13-28.5a235.43,235.43,0,0,0-15.8-19v47.74c5,2.41,5,19.41,0,23.94V743C571.74,740.22,579.75,733.29,584.05,724.06Z"
                        ></path>
                    </g>
                    <rect id="black"
                          class="cls-3"
                          width="559"
                          height="667"
                    ></rect>
                    <text class="cls-4"
                          transform="translate(141.2 305.46) rotate(-9)"
                    >
                        <tspan xml:space="preserve">    WIE</tspan>
                        <tspan x="0"
                               y="246"
                        >W&Auml;RE
                        </tspan>
                        <tspan class="cls-5"
                               x="0"
                               y="492"
                               xml:space="preserve"
                        >  </tspan>
                        <tspan class="cls-6"
                               x="94.87"
                               y="492"
                        >D
                        </tspan>
                        <tspan class="cls-7"
                               x="193.44"
                               y="492"
                        >A
                        </tspan>
                        <tspan x="289.9"
                               y="492"
                        >S
                        </tspan>
                    </text>
                    <rect id="blue_left"
                          class="cls-8"
                          y="667"
                          width="559"
                          height="167"
                    ></rect>
                    <g id="double_bottom">
                        <path class="cls-2"
                              d="M371.37,679.93c2.48,15.61,4.41,27.84,5.59,37s1.22,16.08.62,20.7c-1.38,9.82-6.68,11.73-16.31,13.25L347.83,666H319l18.59,117.42,22.12-3.5c26-4.12,39.24-11.55,44.48-27.31,5-15.73,2.27-39.57-3.67-77q-.78-5-1.54-9.58H369.16q1,6.45,2.21,13.93"
                        ></path>
                        <polygon class="cls-2"
                                 points="471.54 692.83 452.29 695.88 451.59 667 426 667 426.74 770.33 454.06 766 453.08 726.15 480.14 721.87 491.53 760.07 518.85 755.74 490.71 667 463.84 667 471.54 692.83"
                        ></polygon>
                        <path class="cls-2"
                              d="M560,681c-2.74-3.06-5.55-6.26-8.54-9.43-1.78-1.8-3.61-3.66-5.46-5.57h14Z"
                        ></path>
                        <path class="cls-2"
                              d="M559,724.22c-6,.95-8.28-2.86-11.09-8.82-3-5.65-4.57-13.68-5.84-21.74l-27.17,7c2.27,14.31,5.75,27.89,13.12,37.39s15.11,11.48,31,12.6"
                        ></path>
                    </g>
                    <rect id="blue_right"
                          class="cls-8"
                          x="1691"
                          y="163"
                          width="290"
                          height="671"
                    ></rect>
                </g>
            </svg>
            <div class="inner">
                <p>
                    Eine Musikplattform, bei der jeder gewinnt: die K&uuml;nstler und Bands erhalten Aufmerksamkeit, die
                    Benutzer k&ouml;nnen Musik kostenlos downloaden. Und die Kirsche auf der Torte: Menschen in Not wird
                    geholfen, durch unsere Spenden an &Auml;rzte ohne Grenzen.
                </p>
            </div>
        </section>
        <div class="benefits container">
            <div class="inner section-wrapper">
                <div class="section">
                    <p>
                        <span class="normal">Die User bekommen:</span>
                        <span class="benefit">Eure Musik</span>
                    </p>
                    <p>
                        <span class="normal">&Auml;rzte ohne Grenzen bekommen:</span>
                        <span class="benefit">Die Spenden zu 100%</span>
                    </p>
                </div>
                <div class="section">
                    <p>
                        <span class="normal">Ihr bekommt:</span>
                        <span class="benefit">Ein wundersch&ouml;nes Profil und ein Portrait-Video</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="street-artist container">
            <img src="{{ '/images/street-artist.jpg' }}"
                 title="Vinyl"
                 alt="K&ouml;rbe voller Vinylplatten"
            >
        </div>
        <div class="stats-prelude container"
             id="wer-macht-mit"
        >
            <a href="#was-brauchen-wir">Jetzt Mitmachen</a>
        </div>
        <div class="stats container">
            <div class="inner">
                <a href="https://keinegrenzen.org#kuenstler"
                   rel="nofollow noopener"
                >
                    <span class="number">{{ artistCount }}</span>
                    <span class="description">K&uuml;stler<br>sind schon<br>dabei</span>
                </a>
                <p class="and">
                    &amp;
                </p>
                <a href="https://www.facebook.com/keinegrenzenOrg"
                   rel="nofollow noopener"
                >
                    <span class="number">461</span>
                    <span class="description">Menschen<br>lieben<br>es</span>
                </a>
            </div>
        </div>
        <div class="vinyl container">
            <img src="{{ '/images/vinyl.jpg' }}"
                 title="Vinyl"
                 alt="K&ouml;rbe voller Vinylplatten"
            >
        </div>
        <div class="resources container"
             id="was-brauchen-wir"
        >
            <div class="before-inner">
                <span class="title-clone">&numsp;Wir<br>brauchen</span>
            </div>
            <div class="inner section-wrapper">
                <div class="title">
                    <h2>&numsp;<span class="blue">W</span>ir<br><span class="blue">br</span>auchen</h2>
                </div>
                <div class="card section">
                    <span class="header-icon">{{ icon.render('note', 'red') }}</span>
                    <h3>Eure Musik</h3>
                    <p>(1-3 Alben, EPs, LPs, Mixtapes, …) im AAC-Format (oder falls nicht anders Möglich WAVE, AIFF oder mp3)</p>
                </div>
                <div class="card section">
                    <span class="header-icon">{{ icon.render('cover', 'red') }}</span>
                    <h3>Die Cover</h3>
                    <p>Als JPEG (unkomprimiert) oder PNG (ohne Transparenz), min. 500px &times; 500px</p>
                </div>
                <div class="card section">
                    <span class="header-icon">{{ icon.render('person', 'red') }}</span>
                    <h3>Profilbild</h3>
                    <p>Mit Menschen drauf, als JPEG (unkomprimiert) oder PNG (ohne Transparenz), min. 600px &times; 400px</p>
                </div>
                <div class="card section">
                    <span class="header-icon">{{ icon.render('image', 'red') }}</span>
                    <h3>Ein Bannerbild</h3>
                    <p>Als JPEG (unkomprimiert) oder PNG (ohne Transparenz) (min 1920px &times; 1080px)</p>
                </div>
                <div class="card section">
                    <span class="header-icon">{{ icon.render('info', 'red') }}</span>
                    <h3>Informationen</h3>
                    <p>&Uuml;ber Euch, die Musik, die Inspiration, existierende Pressetexte…</p>
                </div>
                <p>
                    Der Einfachheit halber k&ouml;nnt Ihr
                    <a href="{{ asset('/downloads/keinegrenzen-mitmach-paket.zip') }}"
                       class="zip-link"
                    >
                        hier eine ZIP-Datei
                    </a>
                    herunterladen, die Ihr entpacken, bef&uuml;llen, wieder verpacken und uns zusenden k&ouml;nnt.
                </p>
            </div>
        </div>
        <div class="cta-wrapper container">
            <a class="cta-button"
               href="mailto:mitmachen@keinegrenzen.org"
            >JETZT
            </a>
            <div class="cta-elements">
                {% for i in 0..2 %}
                    <div class="cta-element">
                        <p>
                            Teil des<br>
                            Kollektivs<br>
                            werden<br>
                        </p>
                        <a href="mailto:mitmachen@keinegrenzen.org">(mitmachen@keinegrenzen.org)</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <footer class="container section-wrapper">
            <div class="imprint section">
                <p class="strong">
                    keinegrenzen.org<br>
                    Gemeinn&uuml;tziges Musikprojekt
                </p>
                <p>
                    Barth&eacute;l&eacute;my Bonhomme<br>
                    Drosselweg 22<br>
                    50735 K&ouml;ln<br>
                    Deutschland<br>
                    E-Mail:
                    <a href="mailto:kontakt@keinegrenzen.org"
                       title="Kontakt aufnehmen"
                    >
                        kontakt@keinegrenzen.org
                    </a>
                    <br>
                    Tel:
                    <a href="tel:+4917630594643"
                       title="Kontakt aufnehmen"
                    >
                        +49 176 30594643
                    </a>
                    <br>
                </p>
            </div>
            <div class="notices section">
                <p class="copyright">
                    &copy; 2016-{{ "now"|date("Y") }} Barth&eacute;l&eacute;my Bonhomme
                </p>
                <p class="open-source">
                    <a href="https://github.com/keinegrenzen-org"
                       target="_blank"
                       rel="nofollow noopener"
                    >
                        keinegrenzen ist open source!
                    </a>
                    <br/>
                    <a href="https://github.com/keinegrenzen-org"
                       target="_blank"
                       rel="nofollow noopener"
                    >
                        <img alt="GitHub followers"
                             src="https://img.shields.io/github/followers/keinegrenzen-org.svg?style=social"
                        >
                    </a>
                    <br/>
                    Hilf uns, etwas großartiges zu erschaffen.
                </p>
                <p class="origin">
                    Mit <span>{{ icon.render('smile', 'blue') }} <i class="sr-only">Leidenschaft</i></span>
                    entwickelt in K&ouml;ln
                </p>
            </div>
        </footer>
        <nav class="container big-nav">
            <ul>
                <li>
                    <a href="#hallo">Hallo!</a>
                </li>
                <li>
                    <a href="#worum-geht-es">Worum geht es?</a>
                </li>
                <li>
                    <a href="#wer-macht-mit">Wer macht mit?</a>
                </li>
                <li>
                    <a href="#was-brauchen-wir">Was brauchen wir?</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('js/theme') }}
        {% endblock %}
    </body>
</html>
