{% import 'icons/macro.html.twig' as icon %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/theme.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <nav class="container"></nav>
        <header class="container">{{ name }} kennt keine Grenzen</header>
        <div class="slogan container">
            <div class="text">
                <span class="stars">*&nbsp;*&nbsp;*</span>
                <h2>
                    <span class="text-title">
                        <span class="outlines outlines-fill-blue">Gute</span>&nbsp;<span>Musik</span><br>
                        <span class="small">f&uuml;r einen</span><br>
                        <span class="outlines outlines-fill-grey shifted">guten</span>&nbsp;<span class="transparent">Zweck</span>
                    </span>
                </h2>
                <div class="title-clone title-clone-left">
                    <span class="text-clone">
                        <span>Gute</span>&nbsp;<span>Musik</span><br>
                        <span class="small">f&uuml;r einen</span><br>
                        <span class="shifted outlines outlines-fill-grey">
                            <span class="transparent">g</span>uten
                        </span>&nbsp;<span class="text-white">Zweck</span>
                    </span>
                </div>
                <div class="title-clone title-clone-right">
                    <span class="text-clone">
                        <span>Gute</span>&nbsp;<span>Musik</span><br>
                        <span class="small">f&uuml;r einen</span><br>
                        <span class="shifted">
                            <span class="outlines outlines-fill-red">g</span>uten
                        </span>&nbsp;<span>Zweck</span>
                    </span>
                </div>
                <span class="smile">{{ icon.render('smile', 'white') }} <i class="sr-only">Smile!</i></span>
            </div>
        </div>
        <div class="guitar-player container">
            <img src="{{ asset('images/guitar-player.png') }}" title="Gitarrist"
                 alt="Gitarrist Live auf der B&uuml;hne">
        </div>
        <section class="project-description container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1981 834" preserveAspectRatio="xMinYMax meet">
                <rect id="black" class="cls-1" width="559" height="667"></rect>
                <text class="cls-2" transform="matrix(0.99, -0.16, 0.16, 0.99, 141.22, 305.4)">
                    <tspan xml:space="preserve">    WIE</tspan>
                    <tspan x="0" y="246">WÄRE</tspan>
                    <tspan class="cls-3" x="0" y="492" xml:space="preserve">  </tspan>
                    <tspan class="cls-4" x="94.87" y="492">DAS</tspan>
                </text>
                <rect id="red" class="cls-6" x="559" width="1422" height="100%"></rect>
                <rect id="blue_left" class="cls-7" y="667" width="559" height="100%"></rect>
                <rect id="blue_right" class="cls-7" x="1691" y="163" width="290" height="100%"></rect>
                <g id="double_right">
                    <path class="cls-8"
                          d="M560.3,558.78c-.42-.54-.85-1.07-1.3-1.58V595l13.67-3.51C571,580.81,567.4,568.31,560.3,558.78Z"></path>
                    <path class="cls-8"
                          d="M585.19,723.71c4.58-9.79,4.77-22.07,2.75-34.81-1.65-10.4-6.59-19.74-13.05-28.58A237.51,237.51,0,0,0,559,641.27v47.87a24.49,24.49,0,0,1,1.59,5.42c1.24,7.85,1,14.48-1.59,18.58v29.55C572.81,739.91,580.87,733,585.19,723.71Z"></path>
                </g>
                <g id="double_bottom">
                    <path class="cls-8"
                          d="M371.37,679.93c2.48,15.61,4.41,27.84,5.59,37s1.22,16.08.62,20.7c-1.38,9.82-6.68,11.73-16.31,13.25L347.83,666H319l18.59,117.42,22.12-3.5c26-4.12,39.24-11.55,44.48-27.31,5-15.73,2.27-39.57-3.67-77q-.78-5-1.54-9.58H369.16q1,6.45,2.21,13.93"></path>
                    <polygon class="cls-8"
                             points="471.54 692.83 452.29 695.88 451.59 667 426 667 426.74 770.33 454.06 766 453.08 726.15 480.14 721.87 491.53 760.07 518.85 755.74 490.71 667 463.84 667 471.54 692.83"></polygon>
                    <path class="cls-8" d="M559,679.81c-2.29-2.61-4.63-5.35-7.13-8L547.32,667H559Z"></path>
                    <path class="cls-8"
                          d="M559,724.22c-6,.95-8.28-2.86-11.09-8.82-3-5.65-4.57-13.68-5.84-21.74l-27.17,7c2.27,14.31,5.75,27.89,13.12,37.39s15.11,11.48,31,12.6"></path>
                </g>
            </svg>
            <div class="inner">
                <p>
                    Eine Musikplattform, bei der jeder gewinnt: die K&uuml;nstler und Bands erhalten Aufmerksamkeit, die
                    Benutzer
                    k&ouml;nnen Musik kostenlos downloaden. Und die Kirsche auf der Torte: Menschen in Not wird
                    geholfen,
                    durch
                    unsere Spenden an &Auml;rzte ohne Grenzen.
                </p>
            </div>
        </section>
        <div class="benefits container">
            <div class="inner">
                <div>
                    <p>
                        <span class="normal">Die User bekommen:</span>
                        <span class="benefit">Eure Musik</span>
                    </p>
                    <p>
                        <span class="normal">&Auml;rzte ohne Grenzen bekommen:</span>
                        <span class="benefit">Die Spenden zu 100%</span>
                    </p>
                </div>
                <div>
                    <p>
                        <span class="normal">Ihr bekommt:</span>
                        <span class="benefit">Ein wundersch&ouml;nes Profil und ein Portrait-Video</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="street-artist container">
            <img src="{{ 'images/street-artist.png' }}" title="Vinyl" alt="K&ouml;rbe voller Vinylplatten">
        </div>
        <div class="stats-prelude container">
            <a href="#ressourcen">Jetzt Mitmachen</a>
        </div>
        <div class="stats container">
            <div class="inner">
                <p>
                    <span class="number">23</span>
                    <span class="description">K&uuml;stler<br>sind schon<br>dabei</span>
                </p>
                <p class="and">
                    &amp;
                </p>
                <p>
                    <span class="number">657</span>
                    <span class="description">Menschen<br>lieben<br>es</span>
                </p>
            </div>
        </div>
        <div class="vinyl container">
            <img src="{{ 'images/vinyl.png' }}" title="Vinyl" alt="K&ouml;rbe voller Vinylplatten">
        </div>
        <div class="resources container" id="ressourcen">
            <div class="before-inner">
                <span class="title-clone">&numsp;Wir<br>brauchen</span>
            </div>
            <div class="inner">
                <div class="title">
                    <h2>&numsp;<span class="blue">W</span>ir<br><span class="blue">br</span>auchen</h2>
                </div>
                <div class="card">
                    <span class="header-icon">{{ icon.render('note', 'red') }}</span>
                    <h3>Eure Musik</h3>
                    <p>(1-3 Alben, EPs, LPs, Mixtapes, …) im mp3-Format</p>
                </div>
                <div class="card">
                    <span class="header-icon">{{ icon.render('cover', 'red') }}</span>
                    <h3>Die Cover</h3>
                    <p>Als jpg oder png (min 500px &times; 500px)</p>
                </div>
                <div class="card">
                    <span class="header-icon">{{ icon.render('person', 'red') }}</span>
                    <h3>Profilbild</h3>
                    <p>Mit Menschen drauf, als jpg oder png (min 600px &times; 400px)</p>
                </div>
                <div class="card">
                    <span class="header-icon">{{ icon.render('image', 'red') }}</span>
                    <h3>Ein Bannerbild</h3>
                    <p>Als jpg oder png (min 1920px &times; 1080px)</p>
                </div>
                <div class="card">
                    <span class="header-icon">{{ icon.render('info', 'red') }}</span>
                    <h3>Informationen</h3>
                    <p>&Uuml;ber Euch, die Musik, die Inspiration, existierende Pressetexte…</p>
                </div>

                <p>
                    Der Einfachheit halber k&ouml;nnt Ihr <a href="FILE">{# TODO #}hier eine ZIP-Datei</a>
                    herunterladen, die Ihr entpacken, bef&uuml;llen, wieder verpacken und uns zusenden k&ouml;nnt.
                </p>
            </div>
        </div>
        <div class="cta-wrapper container">
            <a class="cta-button" href="mailto:mitmachen@keinegrenzen.org">JETZT</a>
            <div class="cta-elements">
                {% for i in 0..2 %}
                    <div class="cta-element">
                        <p>
                            Teil des<br>
                            Kollektivs<br>
                            werden<br>
                        </p>
                        <a href="mailto:mitmachen@keinegrenzen.org">(mitmachen@keinegrenzen.org)</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <footer class="container">
            <div class="imprint">
                <p class="strong">
                    keinegrenzen.org<br>
                    Gemeinn&uuml;tziges Musikprojekt
                </p>
                <p>
                    Barth&eacute;l&eacute;my Bonhomme<br>
                    Drosselweg 22<br>
                    50735 Köln<br>
                    Deutschland<br>
                    E-Mail: kontakt@keinegrenzen.org<br>
                    Tel: <a href="tel:+4917630594643" title="Kontakt aufnehmen">+49 176 30594643</a><br>
                </p>
            </div>
            <div class="notices">
                <p class="copyright">
                    &copy; 2016-{{ "now"|date("Y") }} Barth&eacute;l&eacute;my Bonhomme
                </p>
                <p class="origin">
                    Mit <span>{{ icon.render('smile', 'blue') }} <i class="sr-only">Leidenschaft</i></span>
                    entwickelt in K&ouml;ln
                </p>
            </div>
        </footer>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/theme.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
